<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
        function redireccionar() {
            // Obtenemos la URL a la que queremos redireccionar
            var nuevaURL = "http://localhost:8084/forgotpassword";

            // Redireccionamos a la nueva URL
            window.location.href = nuevaURL;
        }
    </script>
        <title></title>
    </head>
    <body>
        <p>Hello, {{userName}}</p>
        <p>If you want to reset password:</p>
        <a href='http://localhost:8084/changepassword?token={{token}}' target="_blank">click here!</a>
    </body>
</html>